
<!-- 
<script src="../../public/js/index.js"></script> -->

<!-- 
<script>
    $(document).ready(function() {
      $("body").tooltip({ selector: '[data-toggle=tooltip]' });
  });
</script> -->
<!-- <script>
    function openModal(type,data){
          let modal_title=``,modal_body=``,modal_footer=``;
        switch(type){
            case 'youtube':
                modal_title=`${data[0]}`,
                modal_body=`${data[1]}`
                break;
            case 'getHelp':
                modal_title=`${data[0]}`;
                if(data[1]=='true'){
                    modal_body=`Help is available`;
                }else{
                    modal_body=`Help is not available`
                }
                break;
            case 'share':
                modal_title=`${data[0]}`,
                modal_body=`${data[1]}`
                break;
            default:
                modal_title=`Project Tree`,
                modal_body=`A Platform for source code`
                break;
        }
       $('.modal-title')[0].innerHTML=modal_title; 
       $('.modal-body')[0].innerHTML=modal_body;
      }
</script> -->
<!-- <script>
    function buttonClick(e,type){
        console.log(e.currentTarget,type,e);
    }
</script> -->

<!-- <script>
    $(document).ready(()=>{
      let btn_state=0,btn_color_value=['#ff3b3b','#3e3e3e'];
      
      $('.i3').mousedown(()=>{
        $(this).css({
          'transform':'scale(1.2)',
          'color':btn_color_value[btn_state]
          })
      }).mouseup(()=>{
        $(this).css({
          'transform':'scale(1)',
          'color':btn_color_value[btn_state]
          })
          btn_state=btn_state^1;
          console.log(this);
      })
    });
  </script> -->
</body>

</html>





    