<link rel="stylesheet" href="../public/css/about.css">

<div class="header">
    <p class="floating t1">C++</p>
    <p class="floating t2">Python</p>
    <p class="floating t3">Java</p>
    <p class="floating t4">HTML</p>
    <p class="floating t5">Go</p>
    <p class="floating t6 d-none d-md-block">C#</p>
    <p class="floating t7 d-none d-md-block">Kotlin</p>
    <p class="floating t8">PHP</p>
    <p class="floating t9">JavaScript</p>
    <p class="floating t10 d-none d-sm-block">CSS</p>
    
    <h1>Project Tree</h1>

    <p>World's most popular free and open-source learning management system</p>
</div>

<%- include('partials/header',{project_Category: projectLists}) %>

<style>
    *{
        font-family: system-ui;
    }
</style>

<div class="container">
    <!-- <div class="header">
        <h1>Project Tree</h1>
        <p>World's most popular free and open-source learning management system</p>
    </div> -->
    <div class="about-content-container">
        <div class="block1 row">
            <div class="block-content col-10 col-md-6 order-2 order-md-1 left">
                <div class="block">
                    <h3>Live Streaming</h3>
                    <p>
                        Get Live Interaction and codebase support by Professionals.
                    </p>
                </div>
                <div class="block-shadow">
                    <h3>Live Streaming</h3>
                    <p>
                        Get Live Interaction and codebase support by Professionals.
                    </p>
                </div>
            </div>
            <div class="image col-10 col-md-6 order-1 order-md-2">
                <img src="../public/images/live_interaction.png" class="d-block w-100" alt="Download the Content">
            </div>
        </div>
        <div class="block1 row">

            <div class="image col-10 col-md-6 order-1 order-md-1">
                <img src="../public/images/svg/redesign1.png" class="d-block w-100" alt="Download the Content">
            </div>
            <div class="block-content col-10 col-md-6 order-2 order-md-2 right">
                <div class="block">
                    <h3>Redesigning of the CodeBase</h3>
                    <p>
                        Customize the project according to your requirement under the guidance of Professionals.
                        Change the structure of code and get the chance to learn from coding.
                    </p>
                </div>
                <div class="block-shadow">
                    <h3>Redesigning of the CodeBase</h3>
                    <p>
                        Customize the project according to your requirement under the guidance of Professionals.
                        Change the structure of code and get the chance to learn from coding.
                    </p>
                </div>
            </div>
        </div>
        <div class="block1 row">
            <div class="block-content col-10 col-md-6 order-2 order-md-1 left">
                <div class="block">
                    <h3>Get Support</h3>
                    <ul>
                        <li>Projects available on ProjectTree or on any of your project. </li>
                        <li>Create new projects starting from fresh as per your requirements under the guidance of Experts.</li>
                        <li>Create complex projects and learn through coding.</li>
                    </ul>
                    <!-- <p>
                        Projects available on ProjectTree or on any of your project. 
                        Create new projects starting from fresh as per your requirements under the guidance of Experts.
                        Create complex projects and learn through coding.
                    </p> -->
                </div>
                <div class="block-shadow">
                    <h3>Get Support</h3>
                    <ul>
                        <li>Projects available on ProjectTree or on any of your project. </li>
                        <li>Create new projects starting from fresh as per your requirements under the guidance of Experts.</li>
                        <li>Create complex projects and learn through coding.</li>
                    </ul>
                </div>
            </div>
            <div class="image col-10 col-md-6 order-1 order-md-2">
                <img src="../public/images/svg/get_support.png" class="d-block w-100" alt="Live Interaction">
            </div>
        </div>
        <div class="block1 row">
            <div class="block-content col-10 col-md-6 order-2 order-md-2 right">
                <div class="block">
                    <h3>Offline Access</h3>
                    <p>
                        Have the lifetime access to all the resources and share the material with others.
                    </p>
                </div>
                <div class="block-shadow">
                    <h3>Offline Access</h3>
                    <p>
                        Have the lifetime access to all the resources and share the material with others.
                    </p>
                </div>
            </div>
            <div class="image col-10 col-md-6 order-1 order-md-1">
                <img src="../public/images/download_video.png" class="d-block w-100" alt="Download the Content">
            </div>
        </div>
        <div class="block1 row">
            <div class="block-content col-10 col-md-6 order-2 order-md-1 left">

                <div class="block">
                    <h3>Hire Us</h3>
                    <p>
                        Hire Us for the domains:
                    </p>
                    <ul>
                        <li>Desktop Application</li>
                        <li>Android Development</li>
                        <li>Website Designing and Development</li>
                        <li>Logo Designing</li>
                        <li>Content Development</li>
                    </ul>
                </div>
                <div class="block-shadow">
                    <h3>Hire Us</h3>
                    <p>
                        Hire Us for the domains:
                    </p>
                    <ul>
                        <li>Desktop Application</li>
                        <li>Android Development</li>
                        <li>Website Designing and Development</li>
                        <li>Logo Designing</li>
                        <li>Content Development</li>
                    </ul>
                </div>
            </div>

            <div class="image col-10 col-md-6 order-1 order-md-2">
                <img src="../public/images/svg/hire.png" class="d-block w-100" alt="Live Interaction">
            </div>
        </div>
    </div>
</div>


<%- include ('partials/modal') %>

<%- include('partials/footer',{projectCategory: projectLists}) %>

<script src="../public/js/home.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>

<script defer>

    document.getElementsByClassName('navbar-brand')[0].style.display="none";
    document.getElementsByTagName('nav')[0].style.backgroundColor="#f3f3f3";
    document.getElementsByTagName('nav')[0].classList.remove('bg-light');
    document.getElementsByTagName('nav')[0].classList.add('about-nav');
    document.getElementsByTagName('nav')[0].style.position="sticky";
    
    // document.getElementsByTagName('nav')[0].style.backgroundColor="#3f3d56!important";
    // document.getElementsByClassName('nav-link')[0].style.color="#fafafb!important";

    gsap.registerPlugin(ScrollTrigger);

    gsap.to('.header',{
        opacity:1,
        duration:3
    });

    const images = gsap.utils.toArray('.image');

    images.forEach((image) => {
        gsap.to(image, {
            scrollTrigger: {
                trigger: image,
                start: "top bottom"
            },
            opacity: 1,
            duration: 3
        })
    });


    const blockContents = gsap.utils.toArray('.block-content');

    blockContents.forEach((blockContent) => {

        let t = ($(blockContent))[0].lastElementChild;

        gsap.to(blockContent, {
            scrollTrigger: {
                trigger: blockContent,
                start: "10% 70%",
                // toggleClass: {targets: t, className: "active-block-shadow"},
            },
            x: 0,
            duration: 3,
            ease: "back.out(1)"
        })
    });

</script>


<%- include('partials/closing') %>