

<%- include('partials/header',{project_Category: projectLists}) %>
<%= projectLists.obj %>
<div class="container">
    hello my friend
</div>

<%- include('partials/footer',{projectCategory: projectLists}) %>

<%- include('partials/closing') %>