* {
    margin : 0;
    padding: 0;
}

body {
    overflow-x : hidden;
    font-family: 'system-ui';
}

p {
    font-size: clamp(0.7rem, 1.5vw, 1rem);
}

h3 {
    font-size   : clamp(1.2rem, 2.5vw, 1.5rem);
    color       : #3c3d44;
    /* color    : #303030; */
    /* color    : #4a4a4a;*/
}

.header {
    text-align         : center;
    /* margin          : 2rem auto; */
    opacity            : 0;
    padding            : 2rem;
    padding-top        : 3rem;
    /* background-color: #f3f3f3; */
    background-color   : #3f3d56;
    color              : #fafafb;
    position           : relative;
}

nav {
    position: sticky;
    top     : 0;
    z-index : 11;
}

.about-nav {
    background-color: #3f3d56 !important;
}

.about-nav>div>ul>li>a {
    color: #fafafb !important;
}

.header>p {
    font-size: 1.2rem;
}

.about-content-container * {
    margin : 0px;
    padding: 0px;
}

.row {
    display        : flex;
    justify-content: center;
    align-self     : center;
}

.col-10 {
    padding-left : 0px;
    padding-right: 0px;
}

.left {
    transform: translateX(-1000px);
}

.right {
    transform: translateX(1000px);
}

.block-content {
    padding        : 0px !important;
    position       : relative;
    display        : flex;
    align-items    : center;
    text-align     : justify;
    justify-content: center;
    padding-left   : 1rem !important;
    z-index        : 10;
}

.block-content .block {
    position  : absolute;
    flex-basis: auto;
    border    : 1px solid #9a9a9a;
    padding   : clamp(1rem, 1.5vw, 1.5rem);
}

.block-content p {
    color: #5e5e5e;
}

.block-shadow {
    position    : relative;
    flex-basis  : auto;
    border      : 1px solid #9a9a9a;
    bottom      : clamp(0.9rem, 1.5vw, 1.2rem);
    right       : clamp(0.8rem, 1.4vw, 1.1rem);
    padding     : clamp(1rem, 1.5vw, 1.5rem);
    /* transform: scale(0); */
}

/* .block-content .block{
    position: absolute;
    flex-basis: auto;
    border: 1px solid #9a9a9a;
    padding: 1.5rem;
}
.block-shadow{
    position: relative;
    flex-basis: auto;
    border: 1px solid #9a9a9a;
    padding: 1.5rem;
    bottom: 1.2rem;
    right: 1.1rem;
} */
.block-shadow>* {
    visibility: hidden;
}

.block-content ul {
    margin-left: 20px;
    list-style : square;
}

.image {
    opacity: 0;
}

.active-block-shadow {
    animation: enter 3s linear forwards;
}

.floating {
    animation-name           : floating;
    animation-duration       : 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left              : 30px;
    margin-top               : 5px;
    position                 : absolute;
    color                    : #ffffff52;
    font-size                : 1rem !important;
    font-weight              : lighter;
}

.t1{    /* c++ */       top: 0; left: 10%;      }
.t2{    /* python */    bottom: 0;              }
.t3{    /* java */      right: 15%; top: 5%;    }
.t4{    /* HTML */      right: 10%; top: 70%;   }
.t5{    /* GO */        left: 0;                }
.t6{    /* C# */        right: 30%; top: 25%;   }
.t7{    /* Kotlin */    top: 25%;   left: 20%;  }
.t8{    /*PHP*/         top: 0; right: 52%;     }
.t9{    /*JavaScript*/  bottom: 0; right: 35%;  }
.t10{   /*CSS*/         bottom: 0; right: 65%;  }

@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}

@keyframes enter {
    to {

        transform: scale(1) rotateX(360deg);
    }
}

@media (max-width:768px) {
    .block-content {
        margin: 1.5rem !important;
    }
}

/* [class*="gsap-marker-"] {
left: 0px!important;
right: 0px!important;
} */


.contact-header {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    position       : relative;
    height         : 300px;
}

.contact-header-text {
    position       : absolute;
    top            : 0;
    width          : 100%;
    display        : flex;
    justify-content: center;
    opacity        : 0;
}

.contact-header-text h1 {
    letter-spacing              : -5px;
    display                     : inline;
    margin                      : 0.5rem;
    color                       : #6c63ff;
    font-size                   : clamp(2.5rem, 5vw, 3rem);
    -webkit-text-stroke-width   : thin;
}

svg#contact-svg {
    position: absolute;
    width   : 100%;
}

.contact-content {
    display: flex;
}

.contact-info-icon {
    display: flex;
    width  : 50%;
}

.contact-icons {
    margin: 1.5rem;
}

.contact-icons-container {
    width          : 20%;
    background     : #6c63ff;
    border-left    : 5px solid #39374e;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    position       : relative;
}

.contact-icons>div {
    padding      : 0.5rem;
    background   : #6c63ff;
    border-radius: 50%;
    position     : relative;
    right        : 4vw;
    border       : 5px solid #39374e;
}

.hire-us-form {
    width        : 80%;
    padding      : 2rem;
    margin       : 2rem;
    /* border    : 1px solid #3f3d56; */
    border-radius: 10px;
    box-shadow   : 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.hire-us-form>#hire-role {
    display: none;
}

.hire-us-card {
    flex-grow      : 1;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.hire-us-form .input-box {
    position     : relative;
    width        : 100%;
    height       : 60px;
    margin-bottom: 1.5rem;
}

.hire-us-form .input-radio {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin-bottom  : 1.5rem;
}

.hire-us-form .input-box:last-child {
    margin-bottom: 0;
}

.hire-us-form .input-box input {
    position     : absolute;
    top          : 0;
    left         : 0;
    width        : 100%;
    border       : 1px solid #111;
    background   : transparent;
    padding      : 10px;
    border-radius: 4px;
    box-sizing   : border-box;
    outline      : none;
    font-size    : 16px;
    color        : #111;
    font-weight  : 300;
}

.hire-us-form .input-box span {
    position      : absolute;
    top           : 1px;
    left          : 1px;
    padding       : 10px;
    font-size     : 16px;
    color         : #111;
    font-weight   : 300;
    display       : inline-block;
    pointer-events: none;
    transition    : 0.5s;
}

.hire-us-form .input-box input:focus~span,
.hire-us-form .input-box input:valid~span {
    transform: translate(-10px, -32px);
    font-size: 12px;
}

.hire-us-form .input-box input:invalid {
    color: rgb(212, 39, 39);
}

.hire-us-form .input-box input:valid~.input-error,
.hire-us-form .input-box input:focus~.input-error {
    display: none !important;
}

.hire-us-form .input-box input:valid,
.hire-us-form .input-box input:focus {
    border-color: #111 !important;
}

.hire-us-form .input-box input[type="submit"] {
    background : #6c63ff;;
    color      : #fff;
    border     : none;
    max-width  : 120px;
    cursor     : pointer;
    font-weight: 500;
}

.hire-us-form .input-box input[type="submit"]:hover {
    background: #9c96ff;
    color     : #fff;
}

.input-error {
    position : absolute;
    bottom   : 0;
    left     : 10px;
    font-size: 0.6rem;
    color    : rgb(212, 39, 39);
    display  : none;
}

#contact-message {
    padding      : 0.5rem;
    border-radius: 4px;
    border       : 1px solid;
}

#contact-message:focus,
#contact-message:valid {
    border-color: #767676 !important;
}

#contact-message:focus~.input-error,
#contact-message:valid~.input-error {
    display: none !important;
}

.contact-info-container {
    /* width: 40%; */
    width          : 80%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    position       : relative;
}

.contact-info {
    margin     : 1.5rem;
    position   : relative;
    height     : 50px;
    width      : 100%;
    display    : flex;
    align-items: center;
}

.contact-info [class*="-info"] {

    height       : 50px;
    padding      : 0.5rem;
    background   : #6c63ff;
    border-radius: 5px;
    display      : flex;
    align-items  : center;
    color        : #fafafb;
    width        : 100%;
}

.contact-info [class*="arrow"] {
    width        : 0;
    height       : 0;
    border-top   : 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right : 10px solid #776fff;
}

.contact-info p {
    margin        : 0px;
    font-size     : 1rem;
    font-weight   : 400;
    letter-spacing: 0.03rem;
    opacity       : 0;
}

textarea:focus {
    outline: none;
}

.input-textarea {
    position      : relative;
    padding-bottom: 1rem;
}

#toast-container {
    position       : fixed;
    z-index        : 20;
    width          : 100vw;
    height         : 100vh;
    top            : 0px;
    left           : 0px;
    background     : rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    display        : none;
    opacity        : 1;
}

#toast {
    transform    : translate(-50%, -50%);
    position     : relative;
    left         : 50%;
    top          : 50%;
    border-radius: 5px;
    width        : auto;
    height       : auto;
    box-shadow   : 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.toast-body>img {
    width  : 60%;
    height : auto;
    margin : auto;
    display: block;
}

.toast-body>h5 {
    text-align: center;
    color     : #2e2e2e;
}

.toast-header {
    justify-content: flex-end;
}

@media (max-width: 620px) {
    .container {
        padding: 0rem 2.5rem !important;
    }

    .contact-icons-container {
        width: 75px;
    }

    .contact-content {
        display        : flex;
        align-items    : center;
        flex-direction : column;
        justify-content: center;
    }

    .contact-info-icon {
        width: 100%;
    }

    .contact-icons>div {
        right: 80%;
    }

    .contact-info [class*="-info"] {
        width: 100%;
    }

    .contact-info p {
        word-break: break-all;
    }

    .hire-us-card {
        width: 100%;
    }

    .hire-us-form {
        width  : 100%;
        padding: 2rem;
        margin : 2rem 0rem;
    }
}